@font-face {
  font-family: "Geometria-Bold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Geometria-Bold.otf") format("opentype"),
}

@font-face {
  font-family: "Geometria-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Geometria.otf") format("opentype"),
}