* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Geometria-Bold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Geometria-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Geometria-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Geometria.otf") format("opentype");
}
body {
  background-color: #e5c2de;
  color: #2b3135;
}

.block-top {
  font-family: "Geometria-Bold";
  color: #fff;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 140px;
}
.block-top__title {
  font-size: 115px;
  margin-bottom: 20px;
}
.block-top__subtitle {
  font-size: 40px;
}
.block-top__image-container {
  margin-top: -10px;
}
.block-top__img1 {
  width: 100%;
}
.block-top__logo {
  margin: 0 auto;
  width: 271px;
  margin-top: -60px;
}

.tasks {
  margin-top: 210px;
  font-family: "Geometria-Regular";
  font-size: 28px;
  padding: 0 25px;
}
.tasks__wrapper-large {
  max-width: 1442px;
  margin: 0 auto;
}
.tasks__wrapper {
  max-width: 1297px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tasks__title {
  font-size: 54px;
  margin-bottom: 70px;
}
.tasks__title span {
  color: #d50f68;
}
.tasks__list {
  line-height: 1.36;
  width: 468px;
  margin-right: 20px;
}
.tasks__list li {
  margin-bottom: 70px;
  padding-left: 50px;
  position: relative;
}
.tasks__list li:before {
  content: "";
  width: 34px;
  height: 35px;
  background-image: url(../img/bullit.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 2px;
}
.tasks__img {
  width: 100%;
}

.portrait {
  margin-top: 125px;
  font-family: "Geometria-Regular";
  font-size: 28px;
  padding: 0 25px;
}
.portrait__wrapper-large {
  max-width: 1550px;
  margin: 0 auto;
}
.portrait__wrapper {
  max-width: 1388px;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portrait__img-container {
  margin-right: 10px;
}
.portrait__img {
  width: 100%;
}
.portrait__title {
  font-size: 54px;
  margin-bottom: 70px;
}
.portrait__title span {
  color: #d50f68;
}
.portrait__list {
  width: 608px;
  line-height: 1.36;
}
.portrait__list li {
  margin-bottom: 40px;
  padding-left: 50px;
  position: relative;
}
.portrait__list li:before {
  content: "";
  width: 34px;
  height: 35px;
  background-image: url(../img/bullit.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 2px;
}

.strategy {
  padding: 0 50px;
  font-family: "Geometria-Regular";
  margin-top: 145px;
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: -0.4px;
}
.strategy__wrapper-large {
  max-width: 1520px;
  margin: 0 auto;
}
.strategy__wrapper {
  max-width: 1340px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.strategy__col1 {
  width: 615px;
}
.strategy__text1 {
  margin-top: 85px;
  max-width: 476px;
}
.strategy__text1 h4 {
  font-size: 54px;
  color: #d50f68;
  margin-bottom: 28px;
}
.strategy__text2 {
  margin-top: 30px;
  margin-left: auto;
  background-image: url(../img/redesign.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 25px 35px 35px 35px;
  width: 512px;
}
.strategy__text2 h4 {
  color: #548235;
  font-size: 54px;
  margin-bottom: 28px;
}
.strategy__img {
  width: 100%;
}

.advantage {
  margin-top: 267px;
  padding: 0 50px;
  font-family: "Geometria-Regular";
  font-size: 35px;
  line-height: 1.3;
}
.advantage__wrapper {
  max-width: 1442px;
  margin: 0 auto;
  padding-left: 146px;
  padding-right: 200px;
  padding: 25px 200px 25px 146px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebded2;
  border-radius: 70px 200px 200px 70px;
}
.advantage__col1 {
  max-width: 700px;
}
.advantage__content span {
  color: #d50f68;
}
.art {
  margin-top: 70px;
  margin-bottom: 180px;
  padding: 0 50px;
  font-family: "Geometria-Regular";
  font-size: 28px;
  line-height: 1.36;
  letter-spacing: -1px;
}
.art__wrapper {
  max-width: 1442px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.art__img {
  width: 100%;
}
.art__col2 {
  max-width: 540px;
}

.example {
  font-family: "Geometria-Regular";
  font-size: 54px;
  padding-top: 160px;
  background-color: #ebded2;
}
.example__ba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.example__col1 {
  margin-right: -90px;
}
.example__col1-title {
  text-align: center;
}
.example__img1 {
  width: 100%;
}
.example__col2 {
  margin-left: -90px;
}
.example__col2-title {
  color: #d50f68;
  text-align: center;
}
.example__img2 {
  width: 100%;
}

.slider__bg {
  height: 781px;
  background-color: #ebded2;
  padding: 90px 50px;
}
.slider__title {
  font-family: "Geometria-Regular";
  font-size: 54px;
  max-width: 1151px;
  margin: 0 auto;
}
.slider__title span {
  color: #d50f68;
}
.slider__item {
  padding: 0 35px;
}
.slider-img {
  width: 100%;
  height: 100%;
}
.slider .swiper {
  position: relative;
  width: 100%;
  margin-top: -560px;
}
.slider__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
  height: 41px;
}
.slider .swiper-button-prev {
  position: static;
  width: 50px;
  margin-right: 50px;
}
.slider .swiper-button-prev::after {
  display: none;
}
.slider .swiper-button-prev::before {
  z-index: 20;
  content: "";
  height: 60px;
  width: 41px;
  background-image: url(../img/arrow-left.png);
  background-repeat: no-repeat;
}
.slider .swiper-button-next {
  position: static;
  width: 50px;
}
.slider .swiper-button-next::after {
  display: none;
}
.slider .swiper-button-next::before {
  z-index: 20;
  content: "";
  height: 60px;
  width: 41px;
  background-image: url(../img/arrow-right.png);
  background-repeat: no-repeat;
}

.example-posts {
  padding-top: 170px;
  background-image: url(../img/example-posts-bg.png);
  background-repeat: no-repeat;
  background-position: 0 22%;
  background-size: 95%;
}
.example-posts__flex-conteiner {
  max-width: 1492px;
  margin: 0 auto;
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.example-posts__flex-conteiner .post-img {
  margin: 25px 25px;
}
.example-posts__flex-conteiner-2 {
  max-width: 1442px;
  margin: 0 auto;
  margin-top: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.example-posts__flex-conteiner-2 .post-img {
  margin: 25px 25px;
}
.example-posts__flex-conteiner-2 .post-img:nth-child(3) {
  margin-top: 100px;
}
.example-posts__wrapper {
  max-width: 1442px;
  margin: 0 auto;
}
.example-posts__title-wrapper {
  padding: 0 50px;
}
.example-posts__title {
  font-family: "Geometria-Regular";
  font-size: 54px;
  max-width: 1151px;
  margin: 0 auto;
}
.example-posts__title span {
  color: #d50f68;
}

.result {
  padding: 120px 50px 220px 50px;
  font-family: "Geometria-Regular";
  font-size: 25px;
  line-height: 1.24;
  letter-spacing: -1px;
}
.result__title {
  font-size: 54px;
  margin-bottom: 45px;
  margin-left: 50px;
}
.result__title span {
  color: #d50f68;
}
.result__text {
  margin-left: 200px;
  margin-bottom: 30px;
}
.result__wrapper {
  max-width: 1264px;
  margin: 0 auto;
}
.result__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.result .col2 {
  margin-top: 25px;
  max-width: 391px;
  margin-left: 40px;
}
.result .col3 {
  margin-top: 30px;
  max-width: 391px;
  margin-left: auto;
}
.result .margin {
  margin-top: 30px;
}
.result__item-proc {
  color: #f5eee7;
  font-size: 115px;
  font-family: "Geometria-Bold";
  margin-bottom: 15px;
}

@media (max-width: 1500px) {
  .slider .swiper {
    margin-top: -300px;
  }
  .slider__bg {
    height: 500px;
  }
}
@media (max-width: 1200px) {
  .result__flex-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .result .col3 {
    margin-left: 0;
  }

  .example-posts__flex-conteiner-2 {
    margin-top: 0;
  }

  .art__col2 {
    max-width: 440px;
  }

  .strategy__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .strategy__text1 {
    margin-top: 0;
  }

  .advantage {
    margin-top: 200px;
  }
  .advantage__wrapper {
    padding-right: 70px;
    padding-left: 50px;
  }
}
@media (max-width: 1000px) {
  .result {
    font-size: 20px;
    padding-bottom: 100px;
  }
  .result .col2 {
    max-width: 330px;
  }

  .example {
    padding-top: 80px;
  }

  .art {
    margin-bottom: 80px;
    font-size: 20px;
  }
  .art__col2 {
    max-width: 340px;
  }

  .tasks {
    font-size: 20px;
    margin-top: 110px;
  }
  .tasks__title {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .tasks__list li {
    margin-bottom: 30px;
  }

  .portrait {
    font-size: 20px;
  }
  .portrait__title {
    font-size: 35px;
  }
  .portrait__list {
    width: 408px;
  }
  .portrait__list li {
    margin-bottom: 30px;
  }

  .strategy {
    margin-top: 80px;
  }
  .strategy__text1 h4, .strategy__text2 h4 {
    font-size: 35px;
    margin-bottom: 17px;
  }
  .strategy__col1 {
    font-size: 19px;
    margin-right: 15px;
    width: 410px;
  }
  .strategy__text1 {
    margin: 0 auto;
    width: 410px;
  }
  .strategy__text2 {
    margin: 25px auto;
    width: 410px;
  }

  .advantage {
    font-size: 20px;
    margin-top: 150px;
  }
}
@media (max-width: 830px) {
  .result {
    text-align: center;
  }
  .result__item-proc {
    font-size: 70px;
    margin-bottom: 5px;
  }
  .result__title {
    margin-left: 0;
    text-align: center;
  }
  .result__text {
    margin-left: 0;
    text-align: center;
  }
  .result__item-proc {
    text-align: center;
  }
  .result .col1 img {
    width: 240px;
  }
  .result .col2 {
    max-width: 250px;
    margin-left: 0;
  }

  .example-posts {
    padding-top: 90px;
  }
  .example-posts__flex-conteiner {
    margin-top: 50px;
  }
  .example-posts__flex-conteiner-2 .post-img:nth-child(3) {
    width: 80%;
    height: auto;
  }

  .slider__item {
    padding: 0 12px;
  }

  .example__ba {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .example__col1, .example__col2 {
    margin: 0;
  }
  .example__col2 {
    margin-top: 40px;
  }

  .art__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .art__col2 {
    margin-top: 15px;
    text-align: center;
    max-width: 500px;
  }

  .block-top {
    margin-top: 60px;
  }
  .block-top__title {
    font-size: 50px;
  }
  .block-top__subtitle {
    font-size: 18px;
  }
  .block-top__logo {
    margin-top: 0;
  }

  .tasks__wrapper {
    display: block;
  }
  .tasks__title {
    text-align: center;
  }
  .tasks__list {
    margin: 0 auto;
    width: auto;
    max-width: 468px;
  }
  .tasks__img-container {
    width: 60%;
    margin: 0 auto;
  }

  .portrait__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portrait__col2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .portrait__img-container {
    margin: 0 auto;
    width: 80%;
  }
  .portrait__col1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .portrait__title {
    text-align: center;
    margin-bottom: 30px;
  }
  .portrait__list {
    width: auto;
    max-width: 468px;
  }

  .strategy__wrapper {
    display: block;
  }
  .strategy__text1 {
    padding-left: 35px;
    width: auto;
    margin: 30px auto;
  }
  .strategy__text2 {
    width: auto;
    max-width: 410px;
    margin: 20px auto;
  }
  .strategy__col1 {
    width: auto;
    margin-right: 0;
  }

  .advantage__wrapper {
    padding-right: 25px;
    padding-left: 20px;
  }
  .advantage__img {
    width: 150px;
  }
}
@media (max-width: 560px) {
  .result {
    padding-top: 80px;
  }
  .result__title {
    font-size: 34px;
    margin-bottom: 20px;
  }

  .example-posts__title {
    font-size: 34px;
  }
  .example-posts__flex-conteiner .post-img {
    height: 90vw;
  }
  .example-posts__flex-conteiner .post-img:nth-child(2) {
    height: auto;
    width: 70vw;
  }
  .example-posts__flex-conteiner-2 .post-img {
    height: 90vw;
  }

  .slider__bg {
    height: 300px;
  }
  .slider__title {
    font-size: 34px;
  }
  .slider .swiper {
    margin-top: -100px;
  }

  .art {
    padding: 0 20px;
  }

  .advantage {
    padding: 0 20px;
    margin-top: 100px;
  }
  .advantage__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 40px;
    text-align: center;
    padding: 15px 10px;
  }
  .advantage__content {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .result {
    padding-left: 30px;
    padding-right: 30px;
  }

  .example-posts__flex-conteiner-2 .post-img:nth-child(3) {
    margin-top: 40px;
  }

  .example {
    font-size: 34px;
  }

  .block-top__title {
    font-size: 40px;
  }

  .tasks {
    margin-top: 70px;
  }
  .tasks__img-container {
    width: 90%;
  }

  .portrait {
    margin-top: 80px;
  }
  .portrait__img-container {
    width: 90%;
  }

  .strategy {
    padding: 0 20px;
  }
  .strategy__text2 {
    padding: 20px;
  }
}